flask
langchain_community
langchain
faiss-cpu
sentence-transformers
langchain-huggingface
langchain_core
pandas
PyPDF2 
langchain 
groq 
transformers 
faiss-cpu
langchain-community
langchain-huggingface
IPython
bs4
authlib